In [1]:
import pandas as pd
import numpy as np

In [2]:
covid_data = pd.read_csv("covid_19_india.csv")
covid_data

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,30-01-2020,6:00 PM,Kerala,1,0,0,0,1
1,2,31-01-2020,6:00 PM,Kerala,1,0,0,0,1
2,3,01-02-2020,6:00 PM,Kerala,2,0,0,0,2
3,4,02-02-2020,6:00 PM,Kerala,3,0,0,0,3
4,5,03-02-2020,6:00 PM,Kerala,3,0,0,0,3
...,...,...,...,...,...,...,...,...,...
16845,16846,07-07-2021,8:00 AM,Telangana,-,-,613124,3703,628282
16846,16847,07-07-2021,8:00 AM,Tripura,-,-,63964,701,68612
16847,16848,07-07-2021,8:00 AM,Uttarakhand,-,-,332006,7338,340882
16848,16849,07-07-2021,8:00 AM,Uttar Pradesh,-,-,1682130,22656,1706818
16849,16850,07-07-2021,8:00 AM,West Bengal,-,-,1472132,17834,1507241

# Death, confirmed & cured - Min & Max

In [3]:
covid_data['Deaths'].min()

0

In [4]:
covid_data['Deaths'].max()

123531

In [5]:
covid_data['Confirmed'].max()

6113335

In [6]:
covid_data['Confirmed'].min()

0

In [7]:
covid_data['Cured'].max()

5872268

In [8]:
covid_data['Cured'].min()

0

# Total data

In [9]:
total_data = covid_data.groupby('State/UnionTerritory').Confirmed.sum()

In [10]:
total_data = covid_data.replace("Bihar***","Bihar")

In [11]:
total_data

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,30-01-2020,6:00 PM,Kerala,1,0,0,0,1
1,2,31-01-2020,6:00 PM,Kerala,1,0,0,0,1
2,3,01-02-2020,6:00 PM,Kerala,2,0,0,0,2
3,4,02-02-2020,6:00 PM,Kerala,3,0,0,0,3
4,5,03-02-2020,6:00 PM,Kerala,3,0,0,0,3
...,...,...,...,...,...,...,...,...,...
16845,16846,07-07-2021,8:00 AM,Telangana,-,-,613124,3703,628282
16846,16847,07-07-2021,8:00 AM,Tripura,-,-,63964,701,68612
16847,16848,07-07-2021,8:00 AM,Uttarakhand,-,-,332006,7338,340882
16848,16849,07-07-2021,8:00 AM,Uttar Pradesh,-,-,1682130,22656,1706818
16849,16850,07-07-2021,8:00 AM,West Bengal,-,-,1472132,17834,1507241

In [12]:
total_data.max()

Sno                               16850
Date                         31-12-2020
Time                            9:30 PM
State/UnionTerritory        West Bengal
ConfirmedIndianNational               9
ConfirmedForeignNational              9
Cured                           5872268
Deaths                           123531
Confirmed                       6113335
dtype: object

# sum of Confirmed, Cured & Death and Active cases

In [13]:
tc=total_data.Confirmed.sum()
tc

4353478074

In [14]:
tcr=total_data.Cured.sum()
tcr

3977194136

In [15]:
td=total_data.Deaths.sum()
td

58726000

In [16]:
active_cases=tc-(tcr+td)
active_cases

317557938

# Min, Mode & Median

In [17]:
covid_data.groupby('State/UnionTerritory').agg(['count','max','min','sum'])

                                           Sno                         Date  \
                                         count    max    min      sum count
State/UnionTerritory
Andaman and Nicobar Islands                469  16815    366  3968892   469
Andhra Pradesh                             483  16816    122  3972060   483
Arunachal Pradesh                          461  16817    590  3965973   461
Assam                                      463  16818    532  3967527   463
Bihar                                      471  16819    272  3940101   471
Bihar****                                    2  15883  15847    31730     2
Cases being reassigned to states            60   4251   2134   191339    60
Chandigarh                                 476  16820    223  3973098   476
Chhattisgarh                               476  16821    211  3973464   476
Dadra and Nagar Haveli                       2  15670  15634    31304     2
Dadra and Nagar Haveli and Daman and Diu   426  16822   1646  3900668   426
Daman & Diu                                  1   2891   2891     2891     1
Delhi                                      493  16823     35  3976047   493
Goa                                        469  16824    372  3972909   469
Gujarat                                    475  16825    232  3975101   475
Haryana                                    491  16826     42  3977402   491
Himachal Pradesh                           474  16827    254  3975817   474
Jammu and Kashmir                          486  16828     82  3978223   486
Jharkhand                                  463  16829    542  3972586   463
Karnataka                                  486  16830     75  3979039   486
Kerala                                     525  16831      1  3980360   525
Ladakh                                     488  16832     60  3980336   488
Lakshadweep                                209  16833   9344  2735469   209
Madhya Pradesh                             474  16834    257  3978849   474
Maharashtra                                486  16835     77  3981147   486
Manipur                                    471  16836    328  3978951   471
Meghalaya                                  450  16837    947  3966540   450
Mizoram                                    470  16838    353  3979543   470
Nagaland                                   417  16839    916  3908936   417
Odisha                                     479  16840    169  3982611   479
Puducherry                                 477  16841    200  3982735   477
Punjab                                     486  16842     78  3984397   486
Rajasthan                                  492  16843     37  3985175   492
Sikkim                                     410  16844   2264  3906107   410
Tamil Nadu                                 488  16845     62  3985893   488
Telangana                                   67  16846  14470  1049086    67
Telengana                                  426  14434     33  2937495   426
Tripura                                    457  16847    736  3976770   457
Unassigned                                   3    618    501     1648     3
Uttar Pradesh                              491  16849     40  3987943   491
Uttarakhand                                480  16848    162  3986549   480
West Bengal                                477  16850    209  3986964   477

                                                                  \
                                                 max         min
State/UnionTerritory
Andaman and Nicobar Islands               31-12-2020  01-01-2021
Andhra Pradesh                            31-12-2020  01-01-2021
Arunachal Pradesh                         31-12-2020  01-01-2021
Assam                                     31-12-2020  01-01-2021
Bihar                                     31-12-2020  01-01-2021
Bihar****                                 11-06-2021  10-06-2021
Cases being reassigned to states          31-05-2020  01-06-2020
Chandigarh                                31-12-2020  01-01-2021
Chhattisgarh                              31-12-2020  01-01-2021
Dadra and Nagar Haveli                    05-06-2021  04-06-2021
Dadra and Nagar Haveli and Daman and Diu  31-12-2020  01-01-2021
Daman & Diu                               11-06-2020  11-06-2020
Delhi                                     31-12-2020  01-01-2021
Goa                                       31-12-2020  01-01-2021
Gujarat                                   31-12-2020  01-01-2021
Haryana                                   31-12-2020  01-01-2021
Himachal Pradesh                          31-12-2020  01-01-2021
Jammu and Kashmir                         31-12-2020  01-01-2021
Jharkhand                                 31-12-2020  01-01-2021
Karnataka                                 31-12-2020  01-01-2021
Kerala                                    31-12-2020  01-01-2021
Ladakh                                    31-12-2020  01-01-2021
Lakshadweep                               31-12-2020  01-01-2021
Madhya Pradesh                            31-12-2020  01-01-2021
Maharashtra                               31-12-2020  01-01-2021
Manipur                                   31-12-2020  01-01-2021
Meghalaya                                 31-12-2020  01-01-2021
Mizoram                                   31-12-2020  01-01-2021
Nagaland                                  31-12-2020  01-01-2021
Odisha                                    31-12-2020  01-01-2021
Puducherry                                31-12-2020  01-01-2021
Punjab                                    31-12-2020  01-01-2021
Rajasthan                                 31-12-2020  01-01-2021
Sikkim                                    31-12-2020  01-01-2021
Tamil Nadu                                31-12-2020  01-01-2021
Telangana                                 31-05-2021  01-06-2021
Telengana                                 31-12-2020  01-01-2021
Tripura                                   31-12-2020  01-01-2021
Unassigned                                31-03-2020  03-04-2020
Uttar Pradesh                             31-12-2020  01-01-2021
Uttarakhand                               31-12-2020  01-01-2021
West Bengal                               31-12-2020  01-01-2021

                                                                                             \
                                                                                        sum
State/UnionTerritory
Andaman and Nicobar Islands               26-03-202027-03-202028-03-202029-03-202030-03-...
Andhra Pradesh                            12-03-202013-03-202014-03-202015-03-202016-03-...
Arunachal Pradesh                         03-04-202004-04-202005-04-202006-04-202007-04-...
Assam                                     01-04-202002-04-202003-04-202004-04-202005-04-...
Bihar                                     22-03-202023-03-202024-03-202025-03-202026-03-...
Bihar****                                                              10-06-202111-06-2021
Cases being reassigned to states          20-05-202021-05-202022-05-202023-05-202024-05-...
Chandigarh                                19-03-202020-03-202021-03-202022-03-202023-03-...
Chhattisgarh                              19-03-202020-03-202021-03-202022-03-202023-03-...
Dadra and Nagar Haveli                                                 04-06-202105-06-2021
Dadra and Nagar Haveli and Daman and Diu  06-05-202007-05-202008-05-202009-05-202010-05-...
Daman & Diu                                                                      11-06-2020
Delhi                                     02-03-202003-03-202004-03-202005-03-202006-03-...
Goa                                       26-03-202027-03-202028-03-202029-03-202030-03-...
Gujarat                                   20-03-202021-03-202022-03-202023-03-202024-03-...
Haryana                                   04-03-202005-03-202006-03-202007-03-202008-03-...
Himachal Pradesh                          21-03-202022-03-202023-03-202024-03-202025-03-...
Jammu and Kashmir                         09-03-202010-03-202011-03-202012-03-202013-03-...
Jharkhand                                 01-04-202002-04-202003-04-202004-04-202005-04-...
Karnataka                                 09-03-202010-03-202011-03-202012-03-202013-03-...
Kerala                                    30-01-202031-01-202001-02-202002-02-202003-02-...
Ladakh                                    07-03-202008-03-202009-03-202010-03-202011-03-...
Lakshadweep                               11-12-202012-12-202013-12-202014-12-202015-12-...
Madhya Pradesh                            21-03-202022-03-202023-03-202024-03-202025-03-...
Maharashtra                               09-03-202010-03-202011-03-202012-03-202013-03-...
Manipur                                   24-03-202025-03-202026-03-202027-03-202028-03-...
Meghalaya                                 14-04-202015-04-202016-04-202017-04-202018-04-...
Mizoram                                   25-03-202026-03-202027-03-202028-03-202029-03-...
Nagaland                                  13-04-202014-04-202015-04-202016-04-202017-04-...
Odisha                                    16-03-202017-03-202018-03-202019-03-202020-03-...
Puducherry                                18-03-202019-03-202020-03-202021-03-202022-03-...
Punjab                                    09-03-202010-03-202011-03-202012-03-202013-03-...
Rajasthan                                 03-03-202004-03-202005-03-202006-03-202007-03-...
Sikkim                                    24-05-202025-05-202026-05-202027-05-202028-05-...
Tamil Nadu                                07-03-202008-03-202009-03-202010-03-202011-03-...
Telangana                                 02-05-202103-05-202104-05-202105-05-202106-05-...
Telengana                                 02-03-202003-03-202004-03-202005-03-202006-03-...
Tripura                                   07-04-202008-04-202009-04-202010-04-202011-04-...
Unassigned                                                   30-03-202031-03-202003-04-2020
Uttar Pradesh                             04-03-202005-03-202006-03-202007-03-202008-03-...
Uttarakhand                               15-03-202016-03-202017-03-202018-03-202019-03-...
West Bengal                               18-03-202019-03-202020-03-202021-03-202022-03-...

                                          Time           ...   Cured  \
                                         count      max  ...     min
State/UnionTerritory                                     ...
Andaman and Nicobar Islands                469  9:30 PM  ...       0
Andhra Pradesh                             483  9:30 PM  ...       0
Arunachal Pradesh                          461  8:00 AM  ...       0
Assam                                      463  8:00 AM  ...       0
Bihar                                      471  9:30 PM  ...       0
Bihar****                                    2  8:00 AM  ...  701234
Cases being reassigned to states            60  8:00 AM  ...       0
Chandigarh                                 476  9:30 PM  ...       0
Chhattisgarh                               476  9:30 PM  ...       0
Dadra and Nagar Haveli                       2  8:00 AM  ...   10091
Dadra and Nagar Haveli and Daman and Diu   426  8:00 AM  ...       0
Daman & Diu                                  1  8:00 AM  ...       0
Delhi                                      493  9:30 PM  ...       0
Goa                                        469  9:30 PM  ...       0
Gujarat                                    475  9:30 PM  ...       0
Haryana                                    491  9:30 PM  ...       0
Himachal Pradesh                           474  9:30 PM  ...       0
Jammu and Kashmir                          486  9:30 PM  ...       0
Jharkhand                                  463  8:00 AM  ...       0
Karnataka                                  486  9:30 PM  ...       0
Kerala                                     525  9:30 PM  ...       0
Ladakh                                     488  9:30 PM  ...       0
Lakshadweep                                209  8:00 AM  ...       0
Madhya Pradesh                             474  9:30 PM  ...       0
Maharashtra                                486  9:30 PM  ...       0
Manipur                                    471  9:30 PM  ...       0
Meghalaya                                  450  8:00 AM  ...       0
Mizoram                                    470  9:30 PM  ...       0
Nagaland                                   417  8:00 AM  ...       0
Odisha                                     479  9:30 PM  ...       0
Puducherry                                 477  9:30 PM  ...       0
Punjab                                     486  9:30 PM  ...       0
Rajasthan                                  492  9:30 PM  ...       0
Sikkim                                     410  8:00 AM  ...       0
Tamil Nadu                                 488  9:30 PM  ...       0
Telangana                                   67  8:00 AM  ...  367727
Telengana                                  426  9:30 PM  ...       0
Tripura                                    457  8:00 AM  ...       0
Unassigned                                   3  9:30 PM  ...       0
Uttar Pradesh                              491  9:30 PM  ...       0
Uttarakhand                                480  9:30 PM  ...       0
West Bengal                                477  9:30 PM  ...       0

                                                    Deaths                \
                                                sum  count     max   min
State/UnionTerritory
Andaman and Nicobar Islands                 1589935    469     128     0
Andhra Pradesh                            303427899    483   12898     0
Arunachal Pradesh                           5150519    461     181     0
Assam                                      74011348    463    4717     0
Bihar                                     100131380    471    9612     1
Bihar****                                   1402468      2    9452  9429
Cases being reassigned to states                  0     60       0     0
Chandigarh                                  7980284    476     809     0
Chhattisgarh                              117163544    476   13462     0
Dadra and Nagar Haveli                        20352      2       4     4
Dadra and Nagar Haveli and Daman and Diu    1470986    426       4     0
Daman & Diu                                       0      1       0     0
Delhi                                     224062704    493   25001     0
Goa                                        20224042    469    3079     0
Gujarat                                   103995131    475   10072     0
Haryana                                   100010131    491    9506     0
Himachal Pradesh                           20682770    474    3485     0
Jammu and Kashmir                          42295048    486    4345     0
Jharkhand                                  46083978    463    5118     0
Karnataka                                 345648926    486   35526     0
Kerala                                    311127643    525   13960     0
Ladakh                                      3059045    488     204     0
Lakshadweep                                  471712    209      49     0
Madhya Pradesh                            100169697    474    9017     0
Maharashtra                               813788907    486  123531     0
Manipur                                     8420223    471    1218     0
Meghalaya                                   4606548    450     880     0
Mizoram                                     1534630    470      98     0
Nagaland                                    3628619    417     503     0
Odisha                                    117984789    479    4299     0
Puducherry                                 14376916    477    1763     0
Punjab                                     71108712    486   16131     0
Rajasthan                                 117312772    492    8942     0
Sikkim                                      1983899    410     309     0
Tamil Nadu                                317067499    488   33132     0
Telangana                                  35544978     67    3703  2368
Telengana                                  64666267    426    2312     0
Tripura                                    10479169    457     701     0
Unassigned                                        0      3       0     0
Uttar Pradesh                             232529439    491   22656     0
Uttarakhand                                36684388    480    7338     0
West Bengal                               195296839    477   17834     0

                                                   Confirmed                   \
                                               sum     count      max     min
State/UnionTerritory
Andaman and Nicobar Islands                  22624       469     7487       1
Andhra Pradesh                             2475816       483  1908065       1
Arunachal Pradesh                            19303       461    37879       1
Assam                                       459575       463   522267       1
Bihar                                       756282       471   722746       2
Bihar****                                    18881         2   715730  715179
Cases being reassigned to states                 0        60     9265     163
Chandigarh                                  119356       476    61752       1
Chhattisgarh                               1591126       476   996359       1
Dadra and Nagar Haveli                           8         2    10377   10345
Dadra and Nagar Haveli and Daman and Diu       874       426    10575       1
Daman & Diu                                      0         1        2       2
Delhi                                      4066907       493  1434687       1
Goa                                         338359       469   167823       3
Gujarat                                    1866811       475   823964       5
Haryana                                    1166573       491   769030       2
Himachal Pradesh                            371931       474   202945       2
Jammu and Kashmir                           686680       486   317481       1
Jharkhand                                   569298       463   346038       1
Karnataka                                  4819018       486  2859595       1
Kerala                                     1327754       525  2996094       1
Ladakh                                       38578       488    20137       2
Lakshadweep                                   2178       209     9947       0
Madhya Pradesh                             1427780       474   790042       4
Maharashtra                               19314532       486  6113335       2
Manipur                                     122089       471    73581       1
Meghalaya                                    66293       450    52358       1
Mizoram                                       5073       470    22155       1
Nagaland                                     39420       417    25619       0
Odisha                                      600149       479   927186       1
Puducherry                                  249683       477   118227       1
Punjab                                     2216735       486   596736       1
Rajasthan                                  1159823       492   952836       1
Sikkim                                       41530       410    21403       1
Tamil Nadu                                 4731627       488  2503481       1
Telangana                                   217455        67   628282  450790
Telengana                                   400427       426   443360       1
Tripura                                     124444       457    68612       1
Unassigned                                       0         3       77      38
Uttar Pradesh                              3347656       491  1706818       6

# head &Tail

In [18]:
covid_data.head(3)

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,30-01-2020,6:00 PM,Kerala,1,0,0,0,1
1,2,31-01-2020,6:00 PM,Kerala,1,0,0,0,1
2,3,01-02-2020,6:00 PM,Kerala,2,0,0,0,2

In [19]:
covid_data.tail(3)

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
16847,16848,07-07-2021,8:00 AM,Uttarakhand,-,-,332006,7338,340882
16848,16849,07-07-2021,8:00 AM,Uttar Pradesh,-,-,1682130,22656,1706818
16849,16850,07-07-2021,8:00 AM,West Bengal,-,-,1472132,17834,1507241

# Statewise

In [20]:
ladakh = covid_data[covid_data['State/UnionTerritory'] == 'Ladakh']

In [21]:
ladakh

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
59,60,07-03-2020,6:00 PM,Ladakh,2,0,0,0,2
65,66,08-03-2020,6:00 PM,Ladakh,2,0,0,0,2
73,74,09-03-2020,6:00 PM,Ladakh,2,0,0,0,2
86,87,10-03-2020,6:00 PM,Ladakh,2,0,0,0,2
104,105,11-03-2020,6:00 PM,Ladakh,2,0,0,0,2
...,...,...,...,...,...,...,...,...,...
16687,16688,03-07-2021,8:00 AM,Ladakh,-,-,19658,202,20101
16723,16724,04-07-2021,8:00 AM,Ladakh,-,-,19669,202,20115
16759,16760,05-07-2021,8:00 AM,Ladakh,-,-,19690,204,20120
16795,16796,06-07-2021,8:00 AM,Ladakh,-,-,19709,204,20129
16831,16832,07-07-2021,8:00 AM,Ladakh,-,-,19733,204,20137

In [22]:
Maharashtra = covid_data[covid_data['State/UnionTerritory'] == 'Maharashtra'] 
Maharashtra

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
76,77,09-03-2020,6:00 PM,Maharashtra,2,0,0,0,2
91,92,10-03-2020,6:00 PM,Maharashtra,5,0,0,0,5
97,98,11-03-2020,6:00 PM,Maharashtra,2,0,0,0,2
120,121,12-03-2020,6:00 PM,Maharashtra,11,0,0,0,11
133,134,13-03-2020,6:00 PM,Maharashtra,14,0,0,0,14
...,...,...,...,...,...,...,...,...,...
16690,16691,03-07-2021,8:00 AM,Maharashtra,-,-,5836920,122353,6079352
16726,16727,04-07-2021,8:00 AM,Maharashtra,-,-,5845315,122724,6088841
16762,16763,05-07-2021,8:00 AM,Maharashtra,-,-,5848693,123030,6098177
16798,16799,06-07-2021,8:00 AM,Maharashtra,-,-,5861720,123136,6104917
16834,16835,07-07-2021,8:00 AM,Maharashtra,-,-,5872268,123531,6113335

In [23]:
Maharashtra.index

Int64Index([   76,    91,    97,   120,   133,   146,   153,   167,   182,
              197,
            ...
            16510, 16546, 16582, 16618, 16654, 16690, 16726, 16762, 16798,
            16834],
           dtype='int64', length=486)

In [24]:
mc=Maharashtra.Cured.sum()
mc

813788907

In [25]:
mcr=Maharashtra.Confirmed.sum()
mcr

908892470

In [26]:
md=Maharashtra.Deaths.sum()
md

19314532

In [27]:
Maharashtra_active_cases=mcr-(mc+md)
Maharashtra_active_cases

75789031

# yearwise

In [45]:
covid_data['Date'] = pd.to_datetime(covid_data['Date'])

In [46]:
covid_data['Year']= covid_data['Date'].dt.year
covid_data['Month']= covid_data['Date'].dt.month
covid_data['Day']= covid_data['Date'].dt.day

In [47]:
data_2020 = covid_data[covid_data['Year'] == 2020]
data_2020

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed,Year,Month,Day
0,1,2020-01-30,6:00 PM,Kerala,1,0,0,0,1,2020,1,30
1,2,2020-01-31,6:00 PM,Kerala,1,0,0,0,1,2020,1,31
2,3,2020-01-02,6:00 PM,Kerala,2,0,0,0,2,2020,1,2
3,4,2020-02-02,6:00 PM,Kerala,3,0,0,0,3,2020,2,2
4,5,2020-03-02,6:00 PM,Kerala,3,0,0,0,3,2020,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...
10077,10078,2020-12-31,8:00 AM,Telengana,-,-,278839,1541,286354,2020,12,31
10078,10079,2020-12-31,8:00 AM,Tripura,-,-,32751,385,33264,2020,12,31
10079,10080,2020-12-31,8:00 AM,Uttarakhand,-,-,84149,1504,90616,2020,12,31
10080,10081,2020-12-31,8:00 AM,Uttar Pradesh,-,-,562459,8352,584966,2020,12,31
10081,10082,2020-12-31,8:00 AM,West Bengal,-,-,528829,9683,550893,2020,12,31

In [48]:
data_2020.sum()

C:\Users\ANKITA\AppData\Local\Temp\ipykernel_13356\3783394295.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data_2020.sum()

Sno                                                                  50828403
Time                        6:00 PM6:00 PM6:00 PM6:00 PM6:00 PM6:00 PM6:00...
State/UnionTerritory        KeralaKeralaKeralaKeralaKeralaKeralaKeralaKera...
ConfirmedIndianNational     1123333333333333333333333333333313110316301112...
ConfirmedForeignNational    0000000000000000000000000000000000001000020014...
Cured                                                               941314195
Deaths                                                               17022508
Confirmed                                                          1074022781
Year                                                                 20365640
Month                                                                   73300
Day                                                                    167343
dtype: object

In [49]:
sum_2020_confirmed = data_2020.Confirmed.sum()
sum_2020_confirmed

1074022781

In [50]:
data_2021 = covid_data[covid_data['Year'] == 2021]
data_2021

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed,Year,Month,Day
10082,10083,2021-01-01,8:00 AM,Andhra Pradesh,-,-,871916,7108,882286,2021,1,1
10083,10084,2021-01-01,8:00 AM,Andaman and Nicobar Islands,-,-,4826,62,4945,2021,1,1
10084,10085,2021-01-01,8:00 AM,Arunachal Pradesh,-,-,16564,56,16719,2021,1,1
10085,10086,2021-01-01,8:00 AM,Assam,-,-,211910,1045,216211,2021,1,1
10086,10087,2021-01-01,8:00 AM,Bihar,-,-,245476,1397,251743,2021,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
16845,16846,2021-07-07,8:00 AM,Telangana,-,-,613124,3703,628282,2021,7,7
16846,16847,2021-07-07,8:00 AM,Tripura,-,-,63964,701,68612,2021,7,7
16847,16848,2021-07-07,8:00 AM,Uttarakhand,-,-,332006,7338,340882,2021,7,7
16848,16849,2021-07-07,8:00 AM,Uttar Pradesh,-,-,1682130,22656,1706818,2021,7,7
16849,16850,2021-07-07,8:00 AM,West Bengal,-,-,1472132,17834,1507241,2021,7,7

In [51]:
data_2021.sum()

C:\Users\ANKITA\AppData\Local\Temp\ipykernel_13356\4000762410.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data_2021.sum()

Sno                                                                  91141272
Time                        8:00 AM8:00 AM8:00 AM8:00 AM8:00 AM8:00 AM8:00...
State/UnionTerritory        Andhra PradeshAndaman and Nicobar IslandsAruna...
ConfirmedIndianNational     ----------------------------------------------...
ConfirmedForeignNational    ----------------------------------------------...
Cured                                                              3035879941
Deaths                                                               41703492
Confirmed                                                          3279455293
Year                                                                 13678128
Month                                                                   31644
Day                                                                     95652
dtype: object

In [52]:
sum_2021_confirmed = data_2021.Confirmed.sum()
sum_2021_confirmed

3279455293

# 2020 and 2021 differnce & positivity rate

In [61]:
differnce_con_rate = (sum_2021_confirmed)-(sum_2020_confirmed)
differnce_con_rate

2205432512

In [57]:
positivity_rate = differnce_con_rate/sum_2020_confirmed*100
positivity_rate

205.34317809782098

# Death differnece & death rate

In [58]:
sum_2020_Deaths = data_2020.Deaths.sum()
sum_2020_Deaths

17022508

In [64]:
sum_2021_Deaths = data_2021.Deaths.sum()
sum_2021_Deaths

41703492

In [65]:
Differnce_death_rate = sum_2021_Deaths-sum_2020_Deaths
Differnce_death_rate

24680984

In [66]:
Death_rate=Differnce_death_rate/sum_2020_Deaths*100
Death_rate

144.9902916773486

# Cured Percentage

In [67]:
sum_2020_Cured = data_2020.Cured.sum()
sum_2020_Cured

941314195

In [69]:
sum_2021_Cured = data_2021.Cured.sum()
sum_2021_Cured

3035879941

In [70]:
Differnce_Cured_rate = sum_2021_Cured-sum_2020_Cured
Differnce_Cured_rate

2094565746

In [73]:
Cured_rate=Differnce_Cured_rate/sum_2020_Cured*100
Cured_rate

222.51504939856983